
Makefile
*.make
out/

data/

general/headers

collections/array
collections/queue
collections/priority_queue

memory/init
memory/temp_allocator

hash/literal

threading/thread
threading/mutex
threading/condvar
threading/task_manager

system/system

io/file_io
io/memory_io
io/object_buffer

algorithm/sort

utility/utility
