/**
@file
@brief GENERATED
@note This file was created by igen.
*/

#pragma once

%for ns in group.funcs_by_namespace.values():
${ns.open_string()}
/**
	@addtogroup ${interface.doc_group}
	@{
*/

%for f in ns.funcs:
%if f.anno_private:
/// @cond INTERNAL
%elif f.cursor.raw_comment:
${f.cursor.raw_comment}
%endif
${f.signature(named_args = True)};
%if f.anno_private:
/// @endcond
%endif

%endfor
/** @} */
${ns.close_string()}
%endfor
