
dofile("scripts/common.lua")

local config = new_config()
config.print_ok = false

config.exclusions = make_inverse_table({
	"togo/core/external/dlmalloc.hpp",
	"togo/core/external/dlmalloc.cpp",
})
config.extension_filter = make_inverse_table({
	"hpp", "ipp", "cpp", "cxx"
})

config.order_tree = make_order_tree({
	dofile("scripts/include_order")(config)
})

return config
